.rubik-moonrocks-regular {
  font-family: "Rubik Moonrocks", serif;
  font-weight: 400;
  font-style: normal;
}


.inter-100 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.inter-200 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.inter-300 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.inter-400 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-500 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-600 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.inter-700 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-800 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.inter-900 {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


/* */
/* Globals components */

.header,.header_404{
	width: 100%;
	height: 100vh;
	background: url('../.././images/cabinet_bcg.png') center/cover no-repeat;
}
.header{
	background: url('../.././images/cabinet_bcg.png') center/cover no-repeat;
}
.header_404{
	background: url('../.././images/server-room-lights-dark-404_bcg.jpg') center/cover no-repeat;
}
