:root{
	--nav-bcg: #3C3C3C85;
	
	--fs96: 96px;
	--fs64: 64px;
	--fs50: 50px;
	--fs48: 48px;
	--fs40: 40px;
	--fs36: 36px;
	--fs32: 32px;
	--fs24: 24px;
	--fs20: 20px;
	--fs18: 18px;
	--fs16: 16px;
	--fs13: 13px;
	--fs12: 12px;
}